@import url('https://fonts.googleapis.com/css?family=Nunito+Sans: 300, 600, 800');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    user-select: none;
}

body
{
    font-family: 'Oswald', sans-serif;
    background-color: var(--body-background-color);
}

li
{
    list-style: none;
}

a
{
    text-decoration: none;
}

button
{
    cursor: pointer;
}